
$cinza: #323232;
$cinza2: #B2B2B2;
$cinza3: #707070;

$preto: #282828;

$azul: #00B4FF;
$azul-blog: #379ec9;

$verde2: #1b8545;
$verde: #7aa93f;

$amarelo: #ede42d;

html, body{
	font-family: 'Lato', sans-serif !important;
	font-weight: 500;
}


@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/Gotham-Black.eot');
    src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Black.woff2') format('woff2'),
        url('fonts/Gotham-Black.woff') format('woff'),
        url('fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham-Book.woff') format('woff'),
        url('fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.eot');
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Bold.woff2') format('woff2'),
        url('fonts/Gotham-Bold.woff') format('woff'),
        url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/Gotham-Medium.eot');
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Medium.woff2') format('woff2'),
        url('fonts/Gotham-Medium.woff') format('woff'),
        url('fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.container{
	max-width: 1100px;
	position: relative;

}

a{
	color: $verde;
	&:hover{
		color: $amarelo;
		text-decoration: none;
	}
}


#admin-menu{z-index: 100;}

p, ul, ol{margin: 20px 0;}

button:hover,
button:active,
button:focus,
a:hover,
a:active
a:link,
a:visited,
a:focus{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: 0 !important;
}

p strong{text-transform: uppercase;}

img.img-responsive{margin: auto !important;}


/*--- TOPO DESTAQUE ----------------------------------------------------------------*/
.destaque{
	float: left;
	width: 100%;
	background: #111820 url(img/bg-topo.jpg) top center no-repeat;
	background-size: cover;
	padding: 80px 0;

	.logo{
		margin-bottom: 90px !important;
		max-width: 100%;

		@media(max-width: 767px){
			margin-bottom: 45px !important;
		}
	}

	h2{
		font-size: 46px;
		color: #fff;
		font-family: 'Gotham Black';
		margin-bottom: 20px;
		font-size: 70px;
		line-height: 70px;

		@media(max-width: 767px){
			font-size: 42px;
			line-height: 42px;
		}
	}
	p{
		font-size: 18px;
		color: #aaabad;
		display: inline-block;
		max-width: 75%;
		margin-bottom: 20px;

		@media(max-width: 767px){
			max-width: 100%;
		}
	}
}

/*--- SERVICOS ----------------------------------------------------------------*/
.servicos{
	float: left;
	width: 100%;
	padding: 70px 0;
	text-align: center;

	h3{
		font-family: 'Gotham Medium';
		color: #3c3c3b;
		margin: 75px 0 20px 0;
		padding: 25px 0;
		background: transparent url(img/bg-h3.png);

		strong{
			font-family: 'Gotham Black';
		}

		a{
			color: #3c3c3b;
			text-decoration: none;
		}
	}

	.col-sm-4{
		padding: 15px !important;
		img{max-width: 100%;}
	}
}

/*--- RODAPE ------------------------------------------------------------------------------*/
footer{
	float: left;
	width: 100%;
	color: #fff;
	background: #272f39;
	position: relative;

	.contato{
		.container{
			padding-top: 50px;
				background: transparent url(img/arrow-footer.png) top left no-repeat;
		}
	}

	h2{
		margin: 9px 0;
		color: #fff;
		font-size: 2em;
		font-weight: 500;
		letter-spacing: 1px;
		margin-top: 40px;
		line-height: 1.2em;
		text-transform: uppercase;

		@media(max-width:1199px){
			margin-top: 40px;
		}
	}

	.info-end{margin-bottom: 50px;}

	h3{
		margin: 20px 0 0 0;
		letter-spacing: 1px;
		font-weight: 500;
		font-size: 1.5em;

		&:nth-child(2){margin-top: 50px;}
	}

	p{
		margin: 5px 0 !important;
		font-size: 14px;
		padding: 10px 0 10px 50px;

		strong{
			font-weight: normal;
			color: $azul;
			text-transform: none;
		}

		&.end{background: transparent url(img/ico-local.png) left center no-repeat;}
		&.tel{
			background: transparent url(img/ico-tel.png) left center no-repeat;
			margin-bottom: 40px;
		}
	}

	.contato{
		background: #272f39;

		@media(max-width:1199px){
			padding-left: 2%;
			padding-right: 2%;
		}

		.links{display: none !important;}
		.webform-confirmation{
			padding-top: 100px;
		}
	}

	.assinatura{
		background: #152233;
		text-align: center;

		.copyright{
			float: left;
			margin: 10px 0;
		}

		img.logo-rodape{
			margin: 10px auto;
			max-width: 100%;
		}
	}

}
